@model List<CoreProject1.Models.TeacherDetail>


<div class="text-center">
    <br />
    <h2 class="text-danger">Delete the Teacher Data</h2>

    <table id="tbJquerytable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th> Name</th>
                <th>Class</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Subject</td>
                    <td>@item.Remarks</td>
                    <td><a asp-controller="TeacherUtility" asp-action="DeleteTeacherData" asp-route-Id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model != null && Model.Count == 0)
{
    <div class="text-center">
        <p>No students found.</p>
    </div>
}