    @model CoreProject1.Models.Student



<style>
    .DataStudent {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 25px;
    }

    .DataStudentC {
        display: inline-flex;
        justify-content: space-evenly;
    }
</style>

<div>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }
    <br />
    <div>
        <h2 class="text-danger text-center"> Library Book Management </h2>
    </div>
    <br />
    <div class="text-center d-flex justify-content-evenly align-content-center">
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: yellowgreen; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width:50%;">
                <img src="~/Images/books.jpg" style="height:auto; width: 100px;">
            </div>
            <div><h4>Total Books: @ViewBag.TotalCount</h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: chocolate; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%">
                <img src="~/Images/books.jpg" style="height:auto; width: 100px;">
            </div>
            <div><h4>Hindi Books: @ViewBag.HindiCount </h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: coral; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%">
                <img src="~/Images/books.jpg" style="height:auto; width: 100px;">
            </div>
            <div><h4>English Books: @ViewBag.EnglishCount</h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:orchid; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%">
                <img src="~/Images/books.jpg" style="height:auto; width: 100px;">
            </div>
            <div><h4>Other's: @ViewBag.OtherCount</h4></div>
        </div>
    </div>
    <br />

    <br />
    <div class="text-center d-flex justify-content-evenly align-content-center">

        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/View.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3> @Html.ActionLink("View Available Books", "ViewBooks", "LibraryRecord", null, new { @class = "text-dark text-decoration-none" })</h3></div>

        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images//Add.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Add Books", "AddBooks", "LibraryRecord", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/Update.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Update Book Records", "UpdateBooks", "LibraryRecord", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/Delete.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Delete Books", "DeleteBooks", "LibraryRecord", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>
    </div>
    <br />
    <br />
    <div class="text-center d-flex justify-content-evenly align-content-center">

        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/View.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Issue New Book", "BookIssue", "LibraryRecord", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>

        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/View.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Issued Book", "IssuedBook", "LibraryRecord", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>

        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/View.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Submit Book", "SubmitBook", "LibraryRecord", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>

    </div>





</div>



