
<div>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }
    <br />
    <div>
        <h2 class="text-danger text-center"> Teacher DashBoard </h2>
    </div>
    <br />
    <div class="text-center d-flex justify-content-evenly align-content-center">
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: yellowgreen; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width:50%;">
                <img src="~/Images/students.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Total Teachers: </h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: chocolate; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%">
                <img src="~/Images/girlstudent.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Female Teacher:  </h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: coral; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%">
                <img src="~/Images/boy.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Male Teacher: </h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:orchid; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat; width: 50%">
                <img src="~/Images/transgender.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Other's: @ViewBag.OtherCount</h4></div>
        </div>
    </div>
    <br />
    <div class="text-center text-danger">
        <h2>Present Teacher</h2>
    </div>
    <br />
    <div class="text-center d-flex justify-content-evenly align-content-center">
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:cornflowerblue; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/boypresent (1).png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h4>Total Male Teacher :</h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:darkcyan; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/girlpresent.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h4>Total Female Teacher :</h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:gold; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/other.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Other's</h4></div>
        </div>
    </div>
    <br />
    <br />
    <div class="text-center"><h2 class="text-wrap text-dark">Teacher Configurations</h2></div>
    <br />
    <div class="text-center d-flex justify-content-evenly align-content-center">

        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/View.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3> @Html.ActionLink("View Teachers", "ViewTeacher", "TeacherUtility", null, new { @class = "text-dark text-decoration-none" })</h3></div>

        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images//Add.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Add Teacher", "AddTeacher", "TeacherUtility", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/Update.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Update Teacher", "UpdateTeacher", "TeacherUtility", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: darkgray; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/Delete.png" style="height:auto; width: 70px;">
            </div>
            <div style="width:50%"><h3>@Html.ActionLink("Delete Teacher", "DeleteTeacher", "TeacherUtility", null, new { @class = "text-dark text-decoration-none" })</h3></div>
        </div>
    </div>
</div>

