@model CoreProject1.Models.Student
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-md-6" style="padding:23px;">
            <h2 class="text-center text-capitalize">Add Students</h2>
            <br />
            <form method="post" asp-controller="StudentUtility" asp-action="CreateStudentData" enctype="multipart/form-data">
                <div class="d-flex justify-content-evenly align-items-center">
                    <div style="width: 50%;">
                        <div class="form-group">
                            <label class="control-label">Photo :</label>
                            <input type="file" name="File" />
                        </div>
                    </div>
                    <div style="width: 50%; ">
                        <div class="form-group">
                            <label class="control-label">Date Of Birth :</label>
                            <input type="date" name="DateOfBirth" />
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-evenly align-items-center">
                    <div style="width: 50%; ">
                        <div class="form-group">
                            <label class="control-label">First Name :</label>
                            <input asp-for="FirstName" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Class :</label>
                            <select asp-for="Class" class="form-control" required>
                                <option value="">Select Class</option>
                                @foreach (var item in Enum.GetValues(typeof(CoreProject1.Models.ClassName)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fathers Name :</label>
                            <input asp-for="FatherName" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Address :</label>
                            <input asp-for="Address" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone Number :</label>
                            <input asp-for="Mobile" class="form-control" type="number" maxlength="10" required />
                        </div>
                    </div>
                    <div style="width:50% ;">
                        <div class="form-group">
                            <label class="control-label">Last Name :</label>
                            <input asp-for="LastName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gender :</label>
                            <select asp-for="Gender" class="form-control" required>
                                <option value="">Select Gender</option>
                                @foreach (var item in Enum.GetValues(typeof(CoreProject1.Models.GenderType)))
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mothers Name :</label>
                            <input asp-for="MotherName" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email :</label>
                            <input asp-for="Email" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Remarks :</label>
                            <input asp-for="Remarks" class="form-control" required />
                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex justify-content-evenly align-items-center">
                    <div style="width: 50%;">
                        <div class="form-group">
                        </div>
                    </div>
                    <div style="width: 50%;display:flex;justify-content:end ">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
