@model List<CoreProject1.Models.Student>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
else
{


    <div class="text-center">
        <br />
        <h2 class="text-danger">Delete the Student Data</h2>

        <table id="tbJquerytable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Class</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Class</td>
                        <td>@item.Remarks</td>
                        <td><a asp-controller="StudentUtility" asp-action="DeleteStudentData" asp-route-Id="@item.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model != null && Model.Count == 0)
    {
        <div class="text-center">
            <p>No students found.</p>
        </div>
    }
}