@model List<CoreProject1.Models.Student>

<div class="text-center">
    <br />

    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            toastr.success('@TempData["SuccessMessage"]');

        </script>
    }
    <br />
    <br />
    <h2 class="text-danger"> Update Student Record</h2>

    <table class="table table-bordered table-hover" id="tbJquerytable">
        <thead>
            <tr>
                <th> ID </th>
                <th>Student Name </th>
                <th> Father's Name </th>
                <th> Mother's Name </th>
                <th> Class </th>
                <th> Gender </th>
                <th> Address </th>
                <th> Remarks </th>
                <th>Mobile</th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.FirstName @item.LastName</td>
                    <td> @item.FatherName </td>
                    <td> @item.MotherName </td>
                    <td> @item.Class</td>
                    <td> @item.Gender</td>
                    <td> @item.Address</td>
                    <td> @item.Remarks </td>
                    <td>@item.Mobile</td>
                    <td><a asp-controller="StudentUtility" asp-action="UpdateChangeData" asp-route-Id="@item.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>

