@model List<CoreProject1.Models.Student>

<div class="container">
    <br />
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-md-6" style="padding:23px;">
            <br />
                <div class="text-center" style="padding:10px">
                    <br />
                    <h2 class="text-danger"> Select the Book </h2>
                    <table id="tbJquerytable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> ID </th>
                                <th> Book Name </th>
                                <th> Book Author Name </th>
                                <th> Book Medium </th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Id </td>
                                    <td> @item.BookName</td>
                                    <td> @item.BookAuthorName </td>
                                    <td> @item.BookMediumLanguage </td>
                                    <td><input type="checkbox" name="selectedBooks" value="@item.Id"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="d-flex justify-content-evenly align-items-center">
                    <div style="width: 50%;">
                        <div class="form-group">
                        </div>
                    </div>
                    <div style="width: 50%;display:flex;justify-content:end ">
                        <div class="form-group">
                            <a asp-controller="LibraryRecord" asp-action="SelectBookByStd" asp-route-StudentId="Id" class="btn btn-primary">Issue</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


