@model List<CoreProject1.Models.Student>

<style>
    .DataStudent {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 25px;
    }

    .DataStudentC {
        display: inline-flex;
        justify-content: space-evenly;
    }
</style>

<div class="text-center DataStudent">
    <div>
        <h3>Submit Book</h3>
        <div>
            <form id="classForm" method="post" asp-controller="LibraryRecord" asp-action="GetBookIssuedStudent">
                <div class="DataStudentC">
                    <div class="form-group">
                        <select id="classSelect" class="form-control" name="Class" required>
                            <option value="" selected disabled>Select Class</option>
                            <option value="0">First</option>
                            <option value="1">Second</option>
                            <option value="2">Third</option>
                            <option value="3">Fourth</option>
                            <option value="4">Fifth</option>
                            <option value="5">Sixth</option>
                            <option value="6">Seventh</option>
                            <option value="7">Eight</option>
                            <option value="8">Nineth</option>
                            <option value="9">Tenth</option>
                            <option value="10">Eleventh</option>
                            <option value="11">Twelth</option>
                        </select>
                    </div>
                    <div style="width: 50%; display: flex; justify-content: flex-end;">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center" style="padding:10px">
    <br />
    <h2 class="text-danger"> Student Record to Issue the Book </h2>
    @if (Model == null || Model.Count == 0)
    {
        <p>No data available</p>
    }
    else
    {
        <table id="tbJquerytable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Student ID </th>
                    <th> Student Name </th>
                    <th> Student Class </th>
                    <th> Book Id </th>
                    <th> Book Name </th>
                    <th> Book Author Name </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.HdnStudentId</td>
                        <td>@item.StudentName   </td>
                        <td>@item.Class</td>
                        <td>@item.Id</td>
                        <td>@item.BookName</td>
                        <td>@item.BookAuthorName</td>
                        <td>
                            <form method="post" asp-controller="LibraryRecord" asp-action="SubmitIssueBook">
                                <input type="hidden" name="hdnStudentId" value="@item.HdnStudentId" />
                                <input type="hidden" name="StudentName" value="@item.StudentName" />
                                <input type="hidden" name="hdnClass" value="@item.Class" />
                                <input type="hidden" name="HdnBookId" value="@item.Id" />
                                <input type="hidden" name="hdnBookName" value="@item.BookName" />
                                <input type="hidden" name="HdnBookAuthorName" value="@item.BookAuthorName" />
                                <button type="submit" class="btn btn-primary">Book Issue</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

