@model List<CoreProject1.Models.Student>
<br />

<div class="text-center" style="padding:10px">
    <br />
    <h2 class="text-danger"> View Book Record From Library </h2>
    <table id="tbJquerytable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> ID </th>
                <th> Book Name </th>
                <th> Book Author Name </th>
                <th> Book Medium </th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.BookName</td>
                    <td> @item.BookAuthorName </td>
                    <td> @item.BookMediumLanguage </td>
                    <td><a asp-action="EDoc" asp-route-Id="@item.Id">Issue Book</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
